{
    "presets": ["next/babel"],
    "plugins": [
        ["module-resolver", {
            "extensions": [".js", ".jsx", ".es", ".es6", ".ts", ".tsx",  ".mjs"],
            "root": ["./src"],
            "alias": {
              "@component": "./component"
            }
        }],
        ["styled-components", { "ssr": true }]
        
    ]
}